{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining", "babel-plugin-module-resolver","@babel/plugin-syntax-optional-chaining"],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime","@babel/plugin-proposal-optional-chaining", "istanbul"]
    }
  },
 

}
